.Header-Container{
    width: 97vw;    
    height:auto;    
    background-color:rgb(0, 0, 0);
    display: flex;
    align-items: center;
    padding:  20px;
}
.heading{
    color:whitesmoke;
}
input{
    height: 30px;
    width: 600px;
    background-color: white;
    margin-left: 50px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin-left: 40%;
}
 