/* Panel-container css */
.panel-container{
  height: 90vh;
  width: 97vw;
  margin-left: 20px;
}
/* h1 css */
h1 {
  margin-left: 500px;
  color: rgb(0, 0, 0);
}
/* movies-grid css */
.movies-grid {
  background-color: whitesmoke;
}
/* movie-poster */
.movie-poster{
  height: 200px;
  width: 250px;
}
 